.followers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.followers a {
  padding: .7rem;
  min-width: 10rem;
}

h2 {
  margin: 0 1rem;
}

:host {
  display: block;
  padding-top: 2rem;
}

img {
  border-radius: 1rem;
}
