<ng-container *ngIf="user$ | async as user">
  <div class="profile">
    <a [linkTo]="path$ | async" class="avatar-container">
      <h3>{{ user.name }}</h3>
      <img class="avatar" [src]="user.avatar_url" [alt]="user.login"/>
      {{ user.login }}
    </a>
  </div>
  <router>
    <route path="/:username" [exact]="false">
      <app-user *routeComponent></app-user>
    </route>
    <route path="/">
      <app-followers *routeComponent></app-followers>
    </route>
  </router>
</ng-container>
