/* You can add global styles to this file, and also import other style files */
html {
  --accent-color: #43849f;
  font-family: sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4 {
  color: var(--accent-color);
}

.avatar {
  max-width: 10rem;
}

.avatar_small {
  width: 4rem;
}

h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: 3rem;
  margin: 1rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
