/* You can add global styles to this file, and also import other style files */
html {
  --font-family: 'Open Sans', sans-serif;
  --font-family-heading: 'Caveat', cursive;

  font-family: var(--font-family);
  text-align: center;
}

h1, h2, h3, h4 {
  font-family: var(--font-family-heading);
}

.avatar {
  max-width: 10rem;
}

.avatar_small {
  width: 4rem;
}

h2, h3, h4 {
  margin: 0;
}
